@charset "utf-8";

.input_common{
	background-image: url(../../../resources/presto/images/inputBackImage.png) !important;
	background-color: none !important;
	background-size: 2000px 30px !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #C4C0B9 !important;
	font-size: 11px !important;
	font-family: Arial,Verdana,sans-serif !important;
	color: #000 !important;
	background-repeat: no-repeat !important;
	background-position: 1px 1px !important;
}